body{
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

header{
    background-color: silver;
    display: flex;
    min-height: 70px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

a{
    text-decoration: none;
    color: blueviolet;
}
.logo {
    display: flex;
    align-items: center;
}

.logo img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 10px;
}

nav a{
    font-weight: 600;
    padding-right: 10px;
}

nav a:hover{
    color: chocolate;
    
}

@media(max-width:450px){
    header{
        flex-direction: column;
        align-items: center;
    }
    nav{
        padding: 10px 0px;
    }
}


